<div class="md:grid-cols-12 grid my-5">
  <div class="col-span-3"></div>
  <div class="md:col-span-6">
    <div class="relative overflow-hidden bg-white border-2 p-10 dark:bg-gray-800">
      <div class="flex-row items-center justify-between py-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
        <div>
          <h5 class="mr-3 font-semibold dark:text-white">Invite users</h5>
          <p>
            You can invite new users to your organization by generating an invite link. You can add as many internal or external users as you want.
          </p>
        </div>
      </div>
      {{ link_element }}
    </div>
  </div>
  <div></div>
</div>
