<tr class="bg-white hover:bg-gray-50 dark:hover:bg-gray-600 member-row">
  <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
    <div class="ps-3">
      <div class="text-base font-semibold">{{ name }}</div>
      <div class="font-normal field-email text-gray-500">{{ mail }}</div>
    </div>
  </th>
  <td class="px-6 py-4">
    {{ role }}
  </td>
  {% if edit %}
    <td class="px-6 py-4 edit-role-link">
      {{ edit }}
    </td>
  {% endif %}
</tr>
