<div class="members-table relative overflow-x-auto mt-5">
  <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Name
      </th>
      <th scope="col" class="px-6 py-3">
        Role
      </th>
      {% if has_edit %}
        <th scope="col" class="px-6 py-3">
          Edit
        </th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      {{ row }}
    {% endfor %}
    </tbody>
  </table>
</div>
